.card__lower--weeklyWeather {
  ul {
    padding: 10px 10px 10px 20px;
    border-left: rgba(105, 105, 105, 0.31) solid 1px;
    display: flex;
    justify-content: space-between;

    li {
      width: 100%;
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

      .weekday {
        font-family: Laila;
        font-weight: bold;
        font-size: 17px;
      }

      .icon {
        height: 170px;
        width: 80px;
        color: rgba(119, 188, 235, 0.75);
      }

      .unit {
        margin-bottom: 5px;
        padding-left: 5px;
      }

      .condition {
        font-family: Montserrat;
      }
    }
  }
}

@media only screen and (max-width: 414px) {
  .card__lower--weeklyWeather {
    ul {
      border-left: none;
      border-bottom: rgba(105, 105, 105, 0.31) solid 1px;
      margin: 0px 10px; //需要margin 10px把上面灰色的分割线变窄一点
      padding: 20px 0px;
      li {
        font-size: 14px;
        .icon {
          height: 90px;
          width: 45px;
        }
        .weekday {
          font-size: 15px;
        }
      }
    }
  }
}
