.card__upper--location {/////2。没有出现在对应location component里面的class这里还是写上了，以免让这里定义的class污染别的地方。这是不是常规操作？？？？
    // 为什么这里不能用margin-left:auto?????
    text-align: right;/////1。 即使这里对应的location component没有显示，在pages/home里可以看到外面包裹了一个.card__upper--location的div！！！这样写是否好？？？？？？？？？？！！！！！！！！！1

    div {
      //padding: 20px 0px 0px 400px;
      display: inline-block; //注意比较这里inline和inline-block之间的区别？？？？
      //margin-left: auto;///为什么这里margin-left就不行？？？
      text-align: right; ///这里的text-align：right用法很重要！！看看在div里是怎么用的？？？？
      margin: 40px 100px 0px 0px;
      //margin: 40px 100px 0px 70%; //这样用%来实现responsive，就不用在外面再套一个div？？？？？？？？ //但这样随着单词长度的增加会溢出卡片！！！！！！还是得在外套一个div！！
      position: relative; ///为什么这里一定要设置position？？？？

      &:after {
        background-color: white;
        content: "";
        //width: 90px;
        width: 100%;
        height: 4px;
        top: calc(100% + 7px);
        //left: 70%;
        left: 0%; //为什么这里写left是0%就对了，如果省略就不行？？？？？？？？？？
        position: absolute; ///为什么这里一定要设置position为absolute？？？？插入的元素不能用relative吗？？？？
      }
    }
  }

