.card__upper--location {
  text-align: right;

  .display {
    display: inline-block;
    text-align: right;
    margin: 40px 100px 0px 0px;
    position: relative;

    &:after {
      background-color: white;
      content: "";
      width: 100%;
      height: 4px;
      top: calc(100% + 5px);
      left: 0%;
      position: absolute;
    }

  }
  .input{
    margin: 40px 100px 0px 0px;
    position: relative;
    display: inline-block;

    &:after {
      background-color: white;
      content: "";
      width: 100%;
      height: 4px;
      top: calc(100% + 5px);
      right: 0;
      position: absolute;
    }

  }
  input {
    text-align: right;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 35px;
    font-family: Acme;
    height: 33px;
    letter-spacing: 3.5px;
  }
  :focus{
    outline: none;
  }
}



@media only screen and (max-width: 414px) {
  .card__upper--location {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    .display {
      margin: 25px 0px 0px 0px;
    }
    .input {
      margin: 0px auto;
      width: 200px;
    }
    input {
      font-size: 20px;
      text-align: center;
    }
  }
}
