.card__upper--location {
  text-align: right;

  .display {
    display: inline-block;
    text-align: right;
    margin: 40px 100px 0px 0px;
    position: relative;

    &:after {
      background-color: white;
      content: "";
      width: 100%;
      height: 4px;
      top: calc(100% + 5px);
      left: 0%;
      position: absolute;
    }

  }

  //
  //.input{
  //  //display: inline-block; //为什么去掉了就不会在输入的时候挤掉todayWeather?????????
  //  //text-align: right; //为什么这里可以删去而不影响布局？？？？
  //  margin: 40px 100px 0px 0px;
  //
  //  &-underline {
  //    position: relative;
  //    text-align: right;
  //    &:after {
  //      background-color: white;
  //      content: "";
  //      width: 100%;
  //      height: 4px;
  //      top: calc(100% + 5px);
  //      left: 0%;
  //      position: absolute;
  //    }
  //  }
  //
  //}
  .input{
    //text-align: right; //为什么这里可以删去而不影响布局？？？？
    margin: 40px 100px 0px 0px;
    position: relative;
    //letter-spacing: 3.5px;//letter-spacing不appy到子元素？？
    display: inline-block;//

    &:after {
      background-color: white;
      content: "";
      width: 100%;
      height: 4px;
      top: calc(100% + 5px);
      //left: 40%; //如果想让底下到白线往右移动应该改这个！！！！
      right: 0; //如果想输入时下面的白条从右到左逐渐增长，就不要设置上面的left:40%!!!!设置right：0！！前提是position是absolute的时候？？
      position: absolute;
    }

  }
  input {
    text-align: right; //这让input从右往左输入！！！cool！！
    background-color: transparent;
    border: none;
    color: white;
    font-size: 35px;
    font-family: Acme;
    height: 33px;
    //width: 100%; //为什么如果不设置的话它的with就和.input:after一样？？？？
    letter-spacing: 3.5px;//
    //为什么这里不能在input底下加after？？？
    //display: inline-block;
    //position: relative;
    //&:after {
    //  background-color: white;
    //  content: "";
    //  width: 100%;
    //  height: 4px;
    //  top: calc(100% + 5px);
    //  left: 0%;
    //  position: absolute;
    //}

  }
  :focus{
    outline: none;
  }
}



@media only screen and (max-width: 414px) {
  .card__upper--location {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    .display {
      margin: 25px 0px 0px 0px;
    }
    .input {
      //text-align: right; //为什么这里可以删去而不影响布局？？？？
      margin: 0px auto;
      width: 200px; //如果不设置的话为什么默认是那样？？？？
    }
    input {
      font-size: 20px;//如果把font-size调整成10px，出现search by city，调成20px出现search by city na？？？
      text-align: center;
    }
  }
  //input {
  //  font-size: 20px;
  //}//为什么input放在这里就不能改变字体大小？因为specifiticity不够高！！！

}
