.card__upper {
  color: white;
  height: 280px;
  border-radius: 50px 50px 0px 0px;
  border-bottom: rgba(128, 128, 128, 0.23) solid 1px;
  background-image: url("https://content.skyscnr.com/76dda4bb24d0d063fd99fd48fea72d1f/SYDA-banner.jpg?resize=2400px:800px&quality=100");
  opacity: 93%;
  background-size: cover;
  overflow:hidden;
  display: flex;
  justify-content: space-between;
  &--location {
    font-family: Acme;
    flex: 2;
    font-size: 35px;
    letter-spacing: 4px;
  }
  &--weather {
    font-family: Laila;
    flex: 1;
    padding: 10px 20px 10px 10px;
  }
}



.card__lower {
  font-family: 'Open Sans';
  height: 320px;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  &--twitter {
    margin-right: 10px;
    padding: 10px 10px 0px 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  &--weeklyWeather {
    flex: 2;
  }
}


@media only screen and (max-width: 414px) {
  .card__upper {
    height: 320px;//一定要改，不然location怎么都显示不了！！
    flex-direction: column;
    border-radius: 35px 35px 0px 0px;

    &--location {
      flex: 1;
      font-size: 15px;
      letter-spacing: 2px;
    }
    &--weather {
      padding: 10px 20px 10px 10px;
    }
  }

  .card__lower {
    display: flex;
    flex-direction: column-reverse;
    height: 580px;///要么设置height，要么设置下面的flex-end，这样天气模块才不会往上跑，为什么？？？？
    justify-content: flex-end;///？？？
    &--weeklyWeather {
      flex: 0;
    }
  }

}

