.head {
  padding: 10px;
  position: sticky;
  top: 0px;
  transition: all 0.2s ease-in-out;
  z-index: 4;
  font-family: 'Montserrat', Helvetica, sans-serif;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1032px;
    margin: 25px auto;
  }

  &__logo {
    color: #49515d;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', Helvetica, sans-serif;
    line-height: 1;

    &--blue {
      color: rgb(63, 140, 187);
    }
  }

  &__menu {
    &--horizontal {
      list-style: none;
      margin: 0;

      li {
        display: inline;
        padding: 8px 0;
        margin: 0 20px;
        position: relative;

        a {
          text-decoration: none;
          color: grey;

          &:hover, &:active, &.stay-hover {
            color: black;

            &:after {
              content: "";
              width: 25px;
            }
          }

          &:after {
            content: "";
            width: 0px;
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            height: 2px;
            margin: 0 auto;
            background-color: #6cb9ff;
            transition: all 0.15s ease-in-out;
          }
        }

      }

    }

    &-icon {
      display: none;
      cursor: pointer;
    }

    &--vertical {
      width: 0%;
      background-color: #6587b4;
      min-height: 100%;
      height: auto;
      max-width: 320px;
      position: fixed;
      top: 44px;
      z-index: 5;
      transition: width 0.44s ease-in-out;
      transform: translateX(-100%);
      left: 100%;
      box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
    }
  }

}

@media only screen and (min-width: 991px) {
  .head.sticky {
    background-color: #fff;
    height: 60px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);
    margin: 0;

    .head__content {
      margin: auto;
      height: 100%;
    }
  }
  .head__menu--vertical {
    width: 0% !important;
  }
}

@media only screen and (max-width: 991px) {
  .head {
    position: sticky;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: 0;
    background-color: #6587b4;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.1);

    &__content {
      margin: 0px;
    }

    &__logo, &__logo--green {
      color: #fff;
      font-size: 18px;
      font-weight: 400;
      font-family: 'Montserrat', Helvetica, sans-serif;
      margin: 0;

      &--blue {
        color: rgb(76, 167, 222);
      }
    }

    &__menu--horizontal {
      display: none;

    }

    &__menu-icon {
      display: block;
      color: white;

    }

    &__menu--vertical * {
      list-style: none;
      color: white;

      li {
        padding: 8px 0;
        margin: 0 20px;
        position: relative;
        text-align: center;

        a {
          text-decoration: none;
          color: white;
          opacity: 90%;
          margin: auto;

          &:hover, &:active {
            color: white;
            opacity: 100%;

            &:after {
              content: "";
              width: 25px;
            }
          }

          &.stay-hover {
            color: white;

            &:after {
              content: "";
              width: 25px;
            }

            opacity: 100%;
          }

          &:after {
            content: "";
            width: 0px;
            display: block;
            position: absolute;
            right: 0;
            left: 0;
            bottom: 0;
            height: 2px;
            margin: 0 auto;
            background-color: white;
            transition: all 0.15s ease-in-out;
          }
        }

      }

    }
  }
}


@media only screen and (max-width: 640px) {
  .head__menu--vertical {
    max-width: 200px;
  }
}