.card__lower--twitter {
  .twitter__head {
    font-family: Laila;
    font-weight: bold;
    font-size: 18px;
    display: flex;

    .hashtag {
      margin: 0px 10px;
      font-size: 13px;
      line-height: 28px;
    }
  }

  .twitter__content {
    font-family: 'Open Sans';
    color: #505050;
    position: relative;

    &--icon {
      border-radius: 50px;
      box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
      height: 50px;
      margin: 5px 10px;
      background-color: rgba(121, 181, 251, 0.16);
      background-size: cover;
      display: inline-block;
      flex: 1;
    }

    &--tweet {
      box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      height: 90px;
      font-size: 13px;
      line-height: 18px;
      overflow: hidden;
      background-color: white;
      padding: 5px;
      position: relative;
      flex: 5;

      .see-more {
        font-size: 11.5px;
        padding: 0px 5px 0px 15px;
        border-radius: 5px;
        box-shadow: 0px 40px 20px 40px white;
        background-color: white;
        cursor: pointer;
        position: absolute;
        top: 150px;
        left: calc(100% - 100px);

        &:hover:not(span) {
          text-decoration: underline;
        }
      }
    }

    ul {
      //padding-left: 0px;//无痕浏览模式下一定要有这一行？？？
      li {
        position: absolute;

        &:first-child {
          z-index: 3;
        }

        &:last-child {
          top: 120px;
          z-index: 2;
        }

        display: flex;
      }
    }

  }

  .next-button {
    font-family: Jockey One;
    letter-spacing: 2px;
    color: #5ba0db;
    text-align: center;
    margin: 233px 0px 0px 10px;

    div {
      cursor: pointer;

      &:hover {
        background-color: rgba(216, 216, 216, 0.2);
      }

      padding: 2px 15px;
      border-radius: 50px;
      box-shadow: 2px 5px 5px 1px rgba(91, 160, 219, 0.47);
      display: inline-block;
    }
  }
}

.fa-twitter {
  margin: 2px 10px;
  color: rgba(0, 172, 237, 0.59);
}

.angle-button {
  border-radius: 50%;
  padding: 0px 5px;
  height: 20px;
  cursor: pointer;
  position: absolute;
  left: calc(100% - 20px);
  bottom: 10px;

  &:hover {
    background-color: rgba(128, 128, 128, 0.18);
  }
}