.card__lower--twitter {
  .twitter__head{
    font-family: Laila;
    font-weight: bold;
    font-size: 18px;
    display: flex;
    .hashtag {
      margin: 0px 10px;
      font-size: 13px;
      line-height: 28px; ///改变line-height来使hashtag和"twitter"对齐？？
    }
  }
  .twitter__content {
    font-family: 'Open Sans';
    color: #505050;
    position:relative;

    ///注意下面的两个block不能放在li元素里面，不然继承的就是li的，而不是.twitter__content的了！！！！
    &--icon {
      border-radius: 50px;
      box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.1);
      //width: 50px;///这两个不能掉
      height: 50px;///这两个不能掉
      margin-right: 15px;
      background-color: rgba(121,181,251,0.84);
      background-size: cover;
      display: inline-block;
      flex:1;
    }
    &--tweet {
      //width: 230px;
      //line-height: 30px; ///这里可能会需要line-height来使头像和twitter内容对齐，也可能没必要，取决于是否接受页面效果。
      ///但注意div元素要比头像元素的高度高，是因为文字的line-height！！！？？？
      box-shadow: 2px 5px 5px 1px rgba(0, 0, 0, 0.1);
      border-radius: 10px;
      height: 90px;
      font-size: 13px;
      line-height: 18px;
      overflow: hidden;
      //z-index: 2;
      background-color: white;
      padding: 5px;
      position: relative; ///为了让collapse按钮出现
      flex:4.5;
      .see-more {
        font-size: 11.5px;
        padding: 0px 5px 0px 15px;//这里不能用margin-left代替！
        border-radius: 5px;
        box-shadow: 0px 40px 20px 40px white; //这里能用box-shadow而不用background来让see more突出吗？？？？？？？如何用？？
        background-color: white;//这样这里就不用z-index来使see more突出了，但如何用z-index来覆盖？？？？？？？？
        cursor: pointer;
        //width: 80px; //覆盖后面的几个单词
        position: absolute;
        top: 149px; //要让小字体的seemore和文本字体保持完全对齐，因为position是absolute了，就只能改top，不然改margin/padding都没用！！！
        left: calc(100% - 100px);
        &:hover:not(span) { //为什么这里的not不管用？？？？
          text-decoration: underline;
        }
      }
    }

    li {
      position:absolute;
      &:first-child {
        z-index: 3;
      }
      &:last-child {
        top: 120px;
        z-index: 2;
      }
      margin: 10px 0px 0px 10px;
      display: flex;
    }
  }
  .next-button {
    font-family: Jockey One;
    letter-spacing: 2px;
    color: #5ba0db;
    text-align: center;
    //margin-top: auto;///设置了margin-bottom后在设置它有什么用？？
    margin: 248px 0px 0px 25px;
    //z-index 1;
    div {
      cursor: pointer;
      &:hover { //如果是这里加的话一定要带上&！！！！！
        background-color: rgba(216, 216, 216, 0.2);
      }
      padding: 2px 15px;
      border-radius: 50px;
      box-shadow:2px 5px 5px 1px rgba(91, 160, 219, 0.47);
      display: inline-block;
    }
  }
}

.fa-twitter{
  margin: 2px 10px;
  color:rgba(0,172,237,0.59);
}
.angle-button {
  background-color: white;
  border-radius: 2px;
  cursor: pointer;
  position: absolute;
  left: calc(100% - 20px);
  bottom: 10px;
}