.container {
  margin: 10px auto;
  max-width: 1032px;
  z-index: 2;
  position: relative; //设置z-index的时候一定要保证position不是static
}

.card {
  margin-top: 15px;
  height: 610px;
  border-radius: 50px;
  box-shadow: 20px 15px 20px 1px rgba(0, 0, 0, 0.1);
  background-color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-bottom: 5px;
  text-align: center;
  font-size: 12px;
  color: #9e9e9e;
  a {
    text-decoration: none;
    color: #3d6a91;
  }
}

@media only screen and (max-width: 1024px) {
  .card {
    margin: 30px 20px;
  }
}
@media only screen and (max-width: 414px) {
  .card {
    margin-top: 5px;
    border-radius: 35px;
    height: 890px; //一定要改
  }
  .container {
    height: 950px;
  } //为什么这里改body就没用？？
}


