.container {
  margin: 10px auto;
  max-width: 1032px;
}

.content {
  margin-top: 20px;
  height: 610px;
  border-radius: 50px;
  box-shadow: 20px 15px 20px 1px rgba(0, 0, 0, 0.1);
  background-color: white;

}
