.card__upper--weather {
  .summary {
    height: 160px;
    &__temperature {
      font-size: 90px;
      padding-top: 30px;
      text-align: center;
      line-height: 100%;
      &--data {
        display: inline-block;
      }

      &--unit {
        width: 10px;
        height: 10px;
        border-radius: 15px;
        border: white solid 5px;
        display: inline-block;
        position: relative;
        bottom: 50px;
        left: 15px;
      }
    }
    &__condition {
      text-align: center;
      font-size: 20px;
    }
  }

  .detail {
    font-family: 'Montserrat';
    font-weight: bolder;
    display: flex;
    margin-top: 10px;
    font-size: 14px;

    &__humidity {
      border-right: rgb(173, 173, 173) solid 1px;
    }

    &__humidity, &__wind {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

  }

}