//.card__upper--weather-temperature div{
//
//.temperature-container>div{
//  position: relative;
//  display: inline-block;
//}//???????????/
.card__upper--weather {

  .summary {
    height: 160px;
    //>div:first-child {
    &__temperature {
      font-size: 90px;
      padding-top: 30px; ///不要margin-top，因为会把整个upper部分的高度变大！！！？？？
      text-align: center;
      //height:60px; ///为什么没有这个的话div的高度就不够，只占很小的部分？？？？？？？ font-size不能控制height吗？？？？
      line-height: 100%; ///用line-height就解决了不设定height的问题！！！
      &--data {
        display: inline-block;
      }

      &--unit {
        width: 10px;
        height: 10px;
        border-radius: 15px;
        border: white solid 5px;
        display: inline-block;
        position: relative; //这里不能用absolute，看看为什么！！！???
        bottom: 50px; //这里用不了top！！
        left: 5px;
      }
    }

    //>:last-child {//???
    &__condition {
      text-align: center;
      font-size: 20px;
    }
  }


  .detail {
    font-family: 'Montserrat';
    font-weight: bolder;
    display: flex;
    margin-top: 10px;
    font-size: 14px;

    &__humidity {
      border-right: rgba(128, 128, 128, 0.71) solid 1px;
    }

    &__humidity, &__wind {
      //>* { ///
      display: flex; ///inline-flex;也可以
      flex: 1;
      flex-direction: column;
      justify-content: center;
      align-items: center; ///不是align content
    }

    //>:first-child {
    ///为什么这里如果是空格:first-child就选择了所有子/孙子元素的first child？？
    ///为什么:first-child不能直接接在&-detail后面而是要接在humid的div后面？？？？

    //&:first-child:after { ///注意after伪元素是前面元素的child
    //  display: inline-flex;
    //  content:""; ///只要有after就不要忘记这个！！！！！要知道after元素是没有标签的，所以至少要给个内容，即使为空！！！！
    //  border: black solid 1px;
    //  height: 100%;///为什么这个必须要，不然就只是一个点？？
    //}
  }

}